<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]="[ '/viewTasks']">
        <img src="favicon.ico" width="30" height="30" alt="" loading="lazy">
        MEAN To Do tasks
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdownProfile" aria-controls="navbarDropdownProfile" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarDropdownProfile">
        <div *ngIf="user; then templateUserLogged else templateUserNoLogged"></div>
        <ng-template #templateUserLogged>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/viewTasks']">View Tasks</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.name}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="[ '/userProfile']">View Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="[ '/login']" (click)="logout()">logout</a>
                    </div>
                </li>
            </ul>
        </ng-template>
        <ng-template #templateUserNoLogged>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/login']">Login</a>
                </li>
            </ul>
        </ng-template>
    </div>
</nav>