<div class="row d-flex justify-content-center py-5">
    <div class="col-12 col-sm-7 col-md-5">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Login</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <form class="login-container loginForm" (ngSubmit)="onLogin(formLogin)" [formGroup]="formLogin">
                      <div class="form-group">
                          <div class="row">
                              <div class="col-sm-12">
                                  <label>E-mail</label>
                                  <input class="form-control" type="text" name="user" placeholder="Correo" maxlength="60"
                                      placeholder="E-mail" formControlName="email"
                                      [ngClass]="formLogin.get('email').touched && formLogin.get('email').invalid ? 'is-invalid' : ''">
                                  <div *ngIf="formLogin.get('email').touched && formLogin.get('email').invalid"
                                      class="invalid-feedback">
                                      <div *ngIf="formLogin.get('email').errors.required">Por favor ingrese un E-mail.</div>
                                      <div *ngIf="formLogin.get('email').errors.pattern">E-mail incorrecto.</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                              <div class="col-sm-12 mt-2">
                                  <label>Password</label>
                                  <input class="form-control" type="password" name="password" maxlength="20"
                                      placeholder="Password" formControlName="password"
                                      [ngClass]="formLogin.get('password').touched && formLogin.get('password').invalid ? 'is-invalid' : ''">
                                  <div *ngIf="formLogin.get('password').touched && formLogin.get('password').invalid"
                                      class="invalid-feedback">
                                      <div *ngIf="formLogin.get('password').errors.required">Por favor ingrese su
                                          contraseña.</div>
                                      <div *ngIf="formLogin.get('password').errors.pattern">
                                          Por favor ingrese una contraseña valida (entre 5 y 20 carácteres, puede usar tambien
                                          @.-)<>.
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="input-group d-flex justify-content-center mt-2">
                              <button type="subtmit" class="btn btn-outline-primary btn-block loginButton" [disabled]="!formLogin.valid">
                                  Sing in
                              </button>
                          </div>
                      </div>
                  </form>
                </li>
                <li class="list-group-item d-flex justify-content-center">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalAddUser">
                        Sing up
                    </button>
                </li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-outline-dark btn-block" data-toggle="modal" data-target="#modalForgotPassword">
                        Forgot my password
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Modals -->
<!-- Modal register user  -->
<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="modalAddUserTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddUserTitle">Sing up</h5>
          <button type="button" class="close" id="closeModalAddUser" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formRegisterUser" class="registerForm" (ngSubmit)="onRegister(formRegisterUser)">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" class="form-control" placeholder="Name" name="name"  maxlength="50"
                  formControlName="name"
                  [ngClass]="formRegisterUser.get('name').touched && formRegisterUser.get('name').invalid ? 'is-invalid' : ''">
                  <div class="invalid-feedback">
                    Pleas enter your name.
                  </div>
                </div>
                <div class="form-group">
                  <label for="">E-mail</label>
                  <input type="text" class="form-control" placeholder="E-mail" name="email"  maxlength="60"
                  formControlName="email"
                  [ngClass]="formRegisterUser.get('email').touched && formRegisterUser.get('email').invalid ? 'is-invalid' : ''">
                  <div *ngIf="formRegisterUser.get('email').touched && formRegisterUser.get('email').invalid" class="invalid-feedback">
                    <div *ngIf="formRegisterUser.get('email').errors.required">Please enter an E-mail.</div>
                    <div *ngIf="formRegisterUser.get('email').errors.pattern">E-mail must be a valid mail.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Phone</label>
                  <input type="tel" class="form-control" placeholder="Phone" name="phone" maxlength="10"
                  formControlName="phone"
                  [ngClass]="formRegisterUser.get('phone').touched && formRegisterUser.get('phone').invalid ? 'is-invalid' : ''">
                  <div class="invalid-feedback">
                    Please enter a valid phone.
                  </div>
                </div>
                <div class="form-group mt-1">
                  <label for="">Password</label>
                  <input type="password" class="form-control" placeholder="Password" name="password" maxlength="20"
                  formControlName="password"
                  [ngClass]="formRegisterUser.get('password').touched && formRegisterUser.get('password').invalid ? 'is-invalid' : ''">
                  <div *ngIf="formRegisterUser.get('password').touched && formRegisterUser.get('password').invalid" class="invalid-feedback">
                    <div *ngIf="formRegisterUser.get('password').errors.required">Please enter a password.</div>
                    <div *ngIf="formRegisterUser.get('password').errors.pattern">
                      Please enter a valid password (between 5 y 20 characters, you can use @.-<>).
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Repeat password</label>
                  <input type="password" class="form-control" placeholder="Repeat password" name="passwordRepeat" maxlength="20"
                  formControlName="passwordRepeat"
                  [ngClass]="formRegisterUser.get('passwordRepeat').touched && formRegisterUser.get('passwordRepeat').invalid ? 'is-invalid' : ''">
                  <div class="invalid-feedback">
                    Please repeat your password.
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary registerButton" [disabled]="!formRegisterUser.valid">Sing up</button>
        </div>
      </div>
    </div>
</div>