.btn-add-task:hover {
    opacity: 100%;
}

.btn-add-task {
    /* display: none; */
    display: scroll;
    position: fixed;
    z-index: 500;
    right: 20px;
    opacity: 70%;
    bottom: 10%;
}

/* .task-card {
    width: 400px;
} */