<div class="container pt-5">
    <div class="row d-flex justify-content-center">
        <div *ngIf="noTasks">There are no created tasks. Use the Add Task button down left.</div>
        <div class="col-sm-12 col-md-auto task-card pt-2" *ngFor="let task of taskService.tasks">
            <div class="card" style="height: 350px;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h5 class="card-title">{{task.name}}</h5>
                        </div>
                        <div class="col-2">
                            <span class="badge badge-warning">{{task.priority}}</span>
                        </div>
                    </div>
                </div>
                <div class="card-body overflow-auto">
                    <div class="alert alert-danger" role="alert" *ngIf="compareDates(task.dueDate)">
                        Task must be done today.
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{task.dueDate}}
                    </h6>
                    <p class="card-text">{{task.indications}}</p>
                    <p class="card-text">{{task.description}}</p>
                    <p class="card-text">{{task.indications}}</p>
                </div>
                <div class="card-footer text-muted">
                    <div class="row d-flex justify-content-center">
                        <div class="col-5 d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-danger" (click)="deleteTask(task)">
                                Delete
                            </button>
                        </div>
                        <div class="col-7 d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-primary" (click)="updateTask(task); updatingTasks(true)" data-toggle="modal" data-target="#manageTaskModal">
                                Update Task
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-success btn-lg btn-add-task" (click)="updatingTasks(false)" data-toggle="modal" data-target="#manageTaskModal">Add Task</button>
</div>  


<!-- Modal -->
<div class="modal fade" id="manageTaskModal" tabindex="-1" role="dialog" aria-labelledby="manageTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="manageTaskModalLabel">Manage Tasks</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="login-container" (ngSubmit)="manageTask(formManageTasks)" [formGroup]="formManageTasks">
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Name Task</label>
                            <input class="form-control" type="text" name="user" placeholder="Name Task" maxlength="30"
                                formControlName="name"
                                [ngClass]="formManageTasks.get('name').touched && formManageTasks.get('name').invalid ? 'is-invalid' : ''">
                            <div *ngIf="formManageTasks.get('name').touched && formManageTasks.get('name').invalid"
                                class="invalid-feedback">
                                <div *ngIf="formManageTasks.get('name').errors.required">Please enter a task name.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Indications</label>
                            <input class="form-control" type="text" name="user" placeholder="Indications" maxlength="40"
                                formControlName="indications">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description</label>
                            <input class="form-control" type="text" name="user" placeholder="Description" maxlength="60"
                                formControlName="description">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Priority</label>
                            <input class="form-control" type="number" name="user" placeholder="Priority" min="1" max="5"
                                formControlName="priority" aria-describedby="priorityHelp"
                                [ngClass]="formManageTasks.get('priority').touched && formManageTasks.get('priority').invalid ? 'is-invalid' : ''">
                            <small id="priorityHelp" class="form-text text-muted">1 max priority, 5 min priority.</small>
                            <div *ngIf="formManageTasks.get('priority').touched && formManageTasks.get('priority').invalid"
                                class="invalid-feedback">
                                <div *ngIf="formManageTasks.get('priority').errors.required">Please enter a priority.</div>
                                <div *ngIf="formManageTasks.get('priority').errors.min">Min priority is 1.</div>
                                <div *ngIf="formManageTasks.get('priority').errors.max">Max priority is 5.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Due Date</label>
                            <input id="dueDate" class="form-control" type="date" name="user" placeholder="Due Date"
                                formControlName="dueDate"
                                [ngClass]="formManageTasks.get('dueDate').touched && formManageTasks.get('dueDate').invalid ? 'is-invalid' : ''">
                            <div *ngIf="formManageTasks.get('dueDate').touched && formManageTasks.get('dueDate').invalid"
                                class="invalid-feedback">
                                <div *ngIf="formManageTasks.get('dueDate').errors.required">Pleas enter a due date.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Comment</label>
                            <input class="form-control" type="text" name="user" placeholder="Comment" maxlength="60"
                                formControlName="comment"
                                [ngClass]="formManageTasks.get('comment').touched && formManageTasks.get('comment').invalid ? 'is-invalid' : ''">
                            <div *ngIf="formManageTasks.get('comment').touched && formManageTasks.get('comment').invalid"
                                class="invalid-feedback">
                                <div *ngIf="formManageTasks.get('comment').errors.required">Por favor ingrese un E-mail.</div>
                                <div *ngIf="formManageTasks.get('comment').errors.pattern">E-mail incorrecto.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Calification</label>
                            <input class="form-control" type="text" name="user" placeholder="Calification" maxlength="60"
                                formControlName="calification"
                                [ngClass]="formManageTasks.get('calification').touched && formManageTasks.get('calification').invalid ? 'is-invalid' : ''">
                            <div *ngIf="formManageTasks.get('calification').touched && formManageTasks.get('calification').invalid"
                                class="invalid-feedback">
                                <div *ngIf="formManageTasks.get('calification').errors.required">Por favor ingrese un E-mail.</div>
                                <div *ngIf="formManageTasks.get('calification').errors.pattern">E-mail incorrecto.</div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="!formManageTasks.valid">Save changes</button>
            </div>
        </form>
      </div>
    </div>
</div>